/**
 * This file is part of the Dataform module for Moodle - http://moodle.org/.
 *
 * The Dataform has been developed as an enhanced counterpart
 * of Moodle's Database activity module (1.9.11+ (20110323)).
 * To the extent that Dataform code corresponds to Database code,
 * certain copyrights on the Database module may obtain.
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle. If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * @package mod-dataform
 * @copyright 2011 Itamar Tzadok
 * @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
 
#page-mod-dataform-view #sortsearch .c0 {
  text-align: right;
}

#page-mod-dataform-view .approve img.icon {
  width:34px;
  height:34px;
}

#page-mod-dataform-view .approve img.icon {
  width:34px;
  height:34px;
}

#page-mod-dataform-view .tabtree {
  margin-bottom: 1em;
}

#page-mod-dataform-view .singleselect {
  margin: 0.5em 0;
}

#page-mod-dataform-embed .entriesview,
#page-mod-dataform-view .entriesview {
  overflow: auto;
}

#page-mod-dataform-embed .mform fieldset.hidden,
#page-mod-dataform-view .mform fieldset.hidden {
  display: table-column;
}

#page-mod-dataform-embed .mform .entriesview fieldset.hidden,
#page-mod-dataform-embed .mform .entriesview fieldset.hidden div,
#page-mod-dataform-view .mform .entriesview fieldset.hidden,
#page-mod-dataform-view .mform .entriesview fieldset.hidden div{
  margin: 0;
  padding: 0;
}

#page-mod-dataform-embed .mform .fitem .fitemtitle,
#page-mod-dataform-embed .mform .entriesview .fitem .fitemtitle,
#page-mod-dataform-view .mform .fitem .fitemtitle,
#page-mod-dataform-view .mform .entriesview .fitem .fitemtitle {
  float: none;
  text-align: left;
  width: 100%;
}

#page-mod-dataform-embed .mform .fitem .felement,
#page-mod-dataform-embed .mform .entriesview .fitem .felement,
#page-mod-dataform-view .mform .fitem .felement,
#page-mod-dataform-view .mform .entriesview .fitem .felement {
  margin-left: 0;
  width: 100%;
}

.mod-dataform-field .c0 {
  text-align: right;
}

.mod-dataform-field .fieldadd,
.mod-dataform-field .sortdefault {
  margin-bottom: 1em;
  margin-top: 1em;
}

.mod-dataform-field .fieldadd select,
.mod-dataform-field .sortdefault select {
  margin-left: 1em;
}

.generaltable td.z_borderless,
.generaltable th.z_borderless {
    border: 0 none !important;
}

#page-mod-dataform-embed {
    margin: 0;
    width: 100%;
}

#page-mod-dataform-embed.pagelayout-embedded #content {
    padding: 0;
}

/* Captcha image overlap fix for Safari */
#recaptcha_image {
    margin-bottom: 25px;
}

.mform div.fdescription.required {
    display: none;
}
